body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.game {
  display: flex;
  justify-content: center;
  }

  .game-board{
    padding-top: 3%;
  }

  .game-info {
    padding-top: 3%;
    padding-left: 3%;
  }

  .game-info-status{
    margin-left: 40px;
  }
  .game-info-li{
    padding-bottom: 10%;
  }

.board-row:after {
  clear: both;
  content: "";
  display: table;
}
.status {
  margin-bottom: 10px;
}
.square {
  background: #fff;
  border: 2px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  height: 120px;
  width: 120px;
}
.square:focus {
  outline: none;
}
.kbd-navigation .square:focus {
  background: #ddd;
}