@import url('https://fonts.googleapis.com/css2?family=Mate+SC&family=Viaoda+Libre&display=swap');

#root{
  background-color: #7A7B5A;
}

.game {
  display: flex;
  justify-content: center;
  padding-top: 3%;
  }

  .game-board{
    padding-top: 3%;
  }

  .game-info {
    padding-top: 3%;
    padding-left: 3%;
  }

  .game-info-status{
    padding-bottom: 6%;
    margin-left: 10px;
    font-family: 'Viaoda Libre', cursive;
    font-size: 25px;
  }

  .game-info-li{
    padding-bottom: 10%;
  }

.board-row:after {
  clear: both;
  content: "";
  display: table;
}
.status {
  margin-bottom: 10px;
}
.square {
  background: #fff;
  border: 2px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  height: 120px;
  width: 120px;
}
.square:focus {
  outline: none;
}
.kbd-navigation .square:focus {
  background: #ddd;
}

.mate-font{
  font-family: 'Mate SC', serif;
}

@media only screen and (min-width: 800px) {

#root{
  height: 800px;
}

}

@media only screen and (max-width: 550px) {

  .game {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 30%;
    }

    .square{
      height: 50px;
      width: 50px;
    }
  }